.card11 {
  width: 300px;
  height: 400px;
  background: #000;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  backface-visibility: hidden;
  font-family: "Poppins", sans-serif;
  margin: 17px;
  min-height: 230px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 2);
}
.card11:hover::after {
  height: 280px;
}
.card11:hover .con-text p {
  margin-bottom: 0px;
  opacity: 1;
}
.card11:hover img {
  transform: scale(1.25);
}
.card11:hover ul {
  transform: translate(0);
  opacity: 1;
}
.card11::after {
  width: 100%;
  content: "";
  left: 0px;
  bottom: 0px;
  height: 150px;
  position: absolute;
  background-color: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 20;
  transition: all 0.25s ease;
}

.card11 img {
  height: 100%;
  z-index: 10;
  transition: all 0.25s ease;
}
.card11 .con-text {
  z-index: 30;
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 20px;
  padding-bottom: 30px;
}
.card11 .con-text p {
  font-size: 0.8rem;
  opacity: 0;
  margin-bottom: -170px;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.card11 .con-text p .button {
  padding: 7px 17px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  transition: all 0.25s ease;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  outline: none;
}
.card11 .con-text p .button:hover {
  background: #fff;
  color: #000;
}
.grid100 {
  display: inline-block;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}
